* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.forside_knap{
margin-top: 20px;
}


body {
 background-color: rgb(255, 255, 99);
}

.header{
  padding: 15px;
  background-color: #8cff00;
  border-bottom: 5px solid #539700;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img{ 
  max-width: 120px;
}

.logo {
  background-image: url('img/stars.gif');
    border: 5px solid red;
    display: inline-block;
  }

  .logo:hover{
   animation: hueLoop 0.5s infinite alternate;
} 

.burger {
  display: block;
  width: 40px; /* bredere knap */
  height: 32px; /* højere knap */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  margin-right: 20px;
}

.burger span {
  display: block;
  width: 100%;
  height: 8px; /* gør stregerne tykke */
  background: black; /* farve */
  border-radius: 9999px; /* runde ender */
  transition: 0.3s ease; /* smooth animation */
}


/* Menu åbner */
.mobile-menu.open { 
  display: block;
}

/* Mobil dropdown styling */
.mobile-menu.open {
  background-color: #8cff00;
  padding: 32px 24px;

  position: absolute;
  top: 80px; /* under header */
  right: 16px;
  width: 280px;
  border: 5px solid red;
}

.mobile-menu ul {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0px;
  text-align: center;
}

.mobile-menu li + li {
  margin-top: 20px;
}

.mobile-menu a {
  text-decoration: none;
  color: #000;
  font-size: larger;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
box-shadow: inset 0 0 0 0 #8cff00;
  color: red;
  text-shadow: #ff00e6 1px 1px 2px;
  margin: 0 -.25rem;
  padding: 0 .25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
.mobile-menu a:hover {
  box-shadow: inset 200px 0 0 0 red;
  color: #fffb00;
  font-size: 150%;
}

.stripes{
   width: 100%;
   height: 50px;
}

.buddha{
   width: 100%;
   height: 150px;
}



@media (min-width: 768px) {

.burger {
  display: none;
}

.header {
  display: flex;
  justify-content: center;
    padding: 15px;
  background-color: #8cff00;
  border-bottom: 5px solid #ff0000;

  position: sticky;
  top: 0;
  z-index: 1000;
}



.header ul {
  display: flex;
  gap: 200px;
  list-style: none; 
  margin-top: 25px;
margin-right: 220px;
font-size: larger;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
}
  
.logo {
    margin-right: auto;
    border: 5px solid red;
   
}

.logo img {
max-width: 120px;
background-image: url('img/stars.gif');

}

.stripes{
   width: 100%;
   height: 60px;
}

.buddha{
   width: 100%;
   height: 250px;
   margin-bottom: -10px;
}





}

@media (max-width: 768px) {
 .mobile-menu {
  display: none;
}
}

@keyframes hueLoop {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}